<div class="container">
  <div class="row">
    <div class="col-md-5">
      <cms-contact-list></cms-contact-list>
    </div>
    <div class="col-md-4">
      <cms-contacts-detail></cms-contacts-detail>
    </div>
  </div>
</div>

<!-- <div class="panel-header">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="title pad-left-right">Contacts</h4>
      <button class="btn btn-success">New Contact</button> -->
<!-- <cms-contact.list  (selectedContactEvent)="selectedContact = $event"></cms-contact.list> -->
<!-- </div>
    <div class="col-md-4">
      <h2>contact-detail goes here</h2> -->
<!-- <cms-contact.list  (selectedContactEvent)="selectedContact = $event"></cms-contact.list> -->
<!-- </div>
  </div>
</div> -->
