<div class="panel panel-default">
  <div class="panel-heading">
    <a routerLink="document.new" class="btn btn-success pull-right" type="button">New Contact</a>
    <h4><strong>Contacts</strong></h4>
  </div>
  <div class="panel-body">
    <cms-contact-item 
    *ngFor="let contact of contacts"     
    [contact]="contact" 
    dnd-draggable 
    [dragEnabled]="true" 
    [dragData]="contact" 
    [dropZones]="['contactGroup']"
    ></cms-contact-item>
  </div>
</div>


<!-- | contactFilter:term   -- add this pipe to the ngfor above when you get to pipe concept -->